/*.progressBar{*/
/*    height: 25px;*/
/*    background-color: #4CAF50;*/
/*    position: relative;*/
/*}*/
body{
    background-color: grey;
}

.label_progressbar
{
    color: #7cff00;
}

.progressBars
{
    text-align: center;
}

.progressBar {
    margin: 50px auto;
    width: 100%;
    max-width: 500px;
    height: 20px;
    /*border: 3px solid black;*/
    /*border-radius: 10px;*/
    text-align: left;
}

.progressBars .barlyBar {
    height: 100%;
    width: 0;
    background-color: red;
    animation: fill-bar 3s infinite;
    border-radius: 8px;
}

.progressBars .maltBar {
    height: 100%;
    width: 0;
    background-color: red;
    animation: fill-bar 3s infinite;
    border-radius: 8px;
}

.progressBars .hopsBar {
    height: 100%;
    width: 0;
    background-color: red;
    animation: fill-bar 3s infinite;
    border-radius: 8px;
}

.progressBars .wheatBar {
    height: 100%;
    width: 0;
    background-color: red;
    animation: fill-bar 3s infinite;
    border-radius: 8px;
}

.progressBars .yeastBar {
    height: 100%;
    width: 0;
    background-color: red;
    animation: fill-bar 3s infinite;
    border-radius: 8px;
}

.progressBars .maintenanceBar
{
    height: 100%;
    width: 0;
    background-color: red;
    animation: fill-bar 3s infinite;
    border-radius: 8px;
}

@keyframes fill-bar {
    from {width: 100%;}
    to {width: 0;}
}

@keyframes test {
    0%   {top: 0;}
    25%  {top: 200px;}
    50%  {top: 100px;}
    75%  {top: 200px;}
    100% {top: 0;}
}
