
.showProduction {
    border-radius: 5px;
    margin: 20px auto auto;
    background-color: #f2f2f2;
    padding: 20px;
    max-width: 500px;
    text-align: left;
}
.table {
    margin-left: auto;
    margin-right: auto;
    font-size: 15px;
    width: 100%;
    table-layout:fixed;
}


Table tr td {
    Margin: 20 20 20 0;
}
