form{
    font-size: 20px;
}

span {
    display: block;
}

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.submit1 {
    display: inline-block;
}

.submit2 {
    display: inline-block;
}

.all_four_buttons {
    width: 40%;
    color: black;
    padding: 14px 20px;
    margin: 6px 3px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.start_production {
    background-color: #4CAF50;
}

.clear {
    background: #CCCC00;    /* Colour: Only for testing purposes */
}

.reset {
      background-color: chocolate;
}

.abort {
    background: aqua;       /* Colour: Only for testing purposes */
}

.stop
{
    background-color: red; /* Colour: Only for testing purposes */
}





input[type=submit]:hover {
    background-color: #45a049;
}

.h1-start_a_production {
    margin-top: -10px;
}



.createProductionForm {
    display: inline-block;
    border-radius: 5px;
    margin: auto;
    margin-top: 30px;
    background-color: #f2f2f2;
    padding: 20px;
    max-width: 500px;
    flex: 0 1 auto;
    text-align: left;
}


select{
    text-align-last:left;
    padding-right: 29px;
    max-width: 150px;
}

body{
    text-align: center;
}


.inventoryBars {
    display: inline-block;
    border-radius: 5px;
    /*margin-left: auto;*/
    /*margin-top: 30px;*/
    background-color: #f2f2f2;
    padding: 10%;
    padding-bottom: 295px;
    padding-top: -200px;
    /*padding-left: 60px;*/
    /*max-width: 100%;*/
    /*flex: 0 1 auto;*/
    /*text-align: left;*/
}


#yeast-bar {
    margin-left: -130px;
    margin-top: -140px;
    position: absolute;
    max-width: 400px;
    width: 260px;
    height: 40px;
    background: linear-gradient(to left, green,red);
    /*width: 100%;*/
    z-index: 1;
}


